body {
    background-color: #FDE74C;
}

.section1 {
    font-size: 40px;
    background-color: #9BC53D;
}

.section2 {
    font-size: 40px;
    background-color: #5BC0EB;
}

.section3 {
    font-size: 40px;
    background-color: #C3423F;
}

p:hover {
    font-weight: bold;
}