.section1 {
    font-size: 24;
    background-color: blue;
}

.section2 {
    font-size: 45;
    background-color: yellow;
}

.section3 {
    font-size: 10vw;
    background-color: magenta;
}

p:hover {
    font-weight: bold;
}