/*Basic*/
* {
    margin: 20;
    padding: 10;
    border: 15;
  }

@font-face {
    font-family: 'Modern Serif Eroded';
    src: url(Modern-Serif-Eroded.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    display: block;
    border-radius: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right:auto;
    height: auto;
}

h1 {
    font-family: "Modern Serif Eroded";
    color: white;
    text-align: center;
}

body {
    background-color: #2adfaa;
}

p {
    font-family: "Verdana","Arial","Helvetica",sans-serif;
}
