/*Basic*/
* {
    margin: 5;
    padding: 0;
    border: 5;
  }

img {
    display: block;
    border-radius: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right:auto;
    height: auto;
}

body {
     background-color: #a2774a;
}

.text {
font-family:Verdana,Arial,Helvetica, sans-serif;
}
